<div class="header-container container">
  <header>
    <a href="{{ site.url }}" class="top-link">{{ site.name }}</a>

    <a href="{{ site.url }}" class="top-logo">
      <img
        src="/images/avatar-160x160.jpg"
        alt="{{ site.name }} Logo"
        title="{{ site.name }} Logo"
      />
    </a>

    <div class="header-social">
      {% if site.owner.github %}
      <a href="{{ site.owner.github }}" class="social-media-icons">
        <i class="fa fa-github"></i>
      </a>
      {% endif %} {% if site.owner.email %}
      <a href="mailto:{{ site.owner.email }}" class="social-media-icons">
        <i class="fa fa-envelope"></i>
      </a>
      {% endif %} {% if site.owner.linkedin %}
      <a href="{{ site.owner.linkedin }}" class="social-media-icons">
        <i class="fa fa-linkedin"></i>
      </a>
      {% endif %}
    </div>

    <ul class="nav">
      <!--Change the  URL here if working on an absolute domain-->
      <li><a href="{{ site.url }}">Home</a></li>
      <li><a href="{{ site.url }}/experiments">Experiments</a></li>
      <li><a href="{{ site.url }}/youtube">YouTube</a></li>
      <li><a href="{{ site.url }}/gpg">GPG</a></li>
      <li><a href="{{ site.url }}/books">Books</a></li>
      <li><a href="{{ site.url }}/about">About</a></li>
      <li><a href="{{ site.url }}/feed.xml">RSS</a></li>
    </ul>
  </header>
</div>
